/* COLORS */

$white: white;
$black: #090911;
$dark-gray: #424242;
$light-gray: #9f9f9f;
$light-gray2: #ebebeb;

/*$green: #4cd272*/;
$yellow: #fdffab;
$pink: #ff9be9;
$blue: #90f8ff;
$purple: #231f42;
$darkPurple: #19162e;
$darkpink:rgb(238, 164, 175)
